
/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


body {
  background: #FFF5E5;
}

header {
	font-family: "Helvetica", "Arial", "sams-serif";
  font-size: 17px;
  margin: 2%;
  text-align: center;
  min-width: 660px;
  min-height: 170px;
}

.levelmenu{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
  width: 150px;
  /*height: 100px;*/
  border: 2px solid darkred;
  box-shadow: 0 0 5px 0;
  float: left;
  display: inline-block;
}

.levelmenu a{
  display: inline-block;
  font-family: "Georgia";
  font-style: italic;
  color: #000;
  text-decoration: none;
  padding: 5px;
  border-radius: 50%;
}

ul.ChooseDifficulty li{
  padding: 2px;
  display: inline-block;
}

ul.ChooseDifficulty {
	display: none;
}

.levelmenu ul a:hover,
.levelmenu ul a.hover {
  background: #de5a51;
  color: #fff;
}

.gamerule{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid darkred;
  box-shadow: 0 0 5px 0;
  width: 150px;
  height: 150px;
  float: left;
  font-style: italic;
}

.gamestatus{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid darkred;
  box-shadow: 0 0 5px 0;
  width: 150px;
  height: 150px;
  float: left;
  font-style: italic;
}

.start{
	text-align: center;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
  width: 150px;
  height: 150px;
  border-radius: 5%;
  box-shadow: 0 0 5px 0;
  float: left;
}

.start a {
	display: inline-block;
  font-family: "Georgia";
  font-style: italic;
  font-size: 2em;
  color: #000;
  text-decoration: none;
  padding-top: 20px;
}

.start:hover {
  background: #de5a51;
  color: #fff;
}

.wrapper {
	margin: 0 auto;
  min-width: 660px;
}

.cardboard {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 660px;
  display: inline-block;
  float: left;
}

.card {
	position: relative;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
  width: 150px;
  height: 150px;
  float: left;
}

.cardfront,
.cardback {
	position: absolute;
	top:0;
	left:0;
  width: 150px;
  height: 150px;
  border-radius: 5%;
  box-shadow: 0 0 5px 0;
}

.cardfront,
.cardback {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
          transition: transform 1s;
}

.cardback {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

