<h1>Welcome to YU YANG'S Forum</h1>
<div class="welcome">
	<form class="signup" action="/welcome/signup" method="post">
		<div class="input-row">
			<label for="username">Name: </label>
			<input type="text" name="username"  id="username" />
		</div>
		<div class="input-row">
			<label for="password">Password: </label>
			<input type="password" name="password" id="password" />
		</div>
		<div class="input-row">
			<label for="email">Email: </label>
			<input type="email" name="email" id="email" />
		</div>
		<div class="input-row">
			<input class="button" type="submit" value="Signup" />
		</div>
	</form>
	<form class="login" action="/welcome/login" method="post">
		<div class="input-row">
			<label for="username">Name: </label>
			<input type="text" name="username"  id="username" />
		</div>
		<div class="input-row">
			<label for="password">Password: </label>
			<input type="password" name="password" id="password" />
		</div>
		<div class="input-row">
			<input class="button" type="submit" value="Login" />
		</div>
	</form>
		<div class="input-row">
			<a href="/forum"><input class="button" type="submit" value="Visitor" /></a>
		</div>
		<h3><%=@str%></h3>
</div>