<h1>Welcome to YU YANG'S Forum</h1>
<div class="container text-left">
  <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
</div>
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#signup">You are almost there...</button>
<div id="signup" class="collapse">
  <div class="jumbotron">
    <form role="form" class="signup" action="/welcome/signup" method="post">
			<div class="form-group">
				<label for="username">Name: </label>
				<input type="text" name="username"  id="username" />
			</div>
			<div class="form-group">
				<label for="password">Password: </label>
				<input type="password" name="password" id="password" />
			</div>
			<div class="form-group">
				<label for="email">Email: </label>
				<input type="email" name="email" id="email" />
			</div>
			<div class="form-group">
				<input class="button" type="submit" value="Signup" />
			</div>
		</form>
  </div>
</div>
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#login">Welcome back...</button>
<div id="login" class="collapse">
	<div class="jumbotron">
		<form class="login" action="/welcome/login" method="post">
			<div class="form-group">
				<label for="username">Name: </label>
				<input type="text" name="username"  id="username" />
			</div>
			<div class="form-group">
				<label for="password">Password: </label>
				<input type="password" name="password" id="password" />
			</div>
			<div class="form-group">
				<input class="button" type="submit" value="Login" />
			</div>
		</form>
	</div>
</div>
<div class="form-group">
	<a href="/forum"><button type="button" class="btn btn-default" >Just hanging around...</button></a>
</div>
<%=@str%>